
<% @articles.each do |article|  %>
<ul>
  <li>
    <img src="<%=article.image%>" alt="">
    <%= link_to article.title, article_path(article.id)  %>   |
    <%= link_to ' Edit', edit_article_path(article.id)  %>   |
    <%= link_to 'Delete', article_path(article.id), method: :delete, data: { confirm: "Are you sure?" }  %>
  </li>
</ul>
<% end  %>

<%= link_to 'Create new article', new_article_path %>
